{% extends 'app/base.html' %}

{% block content %}
        <header class="page-header" style="margin-bottom: 0px; padding: 40px;">
            <div class="container text-center">
                <div class="row justify-content-center">
                    <a class="col-2 align-self-center" href="/">
                        <img style="height: 150px; width: 150px;" src="//images.squarespace-cdn.com/content/v1/5203ddece4b06e753f812c4d/1376411793397-FGJ23V8HITRA2OY2MS0O/logo-no-background.png?format=1500w">
                    </a>
                    <h1 class="col-8 align-self-center">Welcome to the Rainbow Bakery!</h1>
                    <a class="col-2 align-self-center btn btn-info" href="{% url 'item_new' %}" class="top-menu">Edit Items</a>

                </div>
            </div>
        </header>
        <div style="background-color: white; width:100vw; height:5px; margin-bottom: 10px;"></div>
        <div class="container">

            <div class="row justify-content-center">
                <!-- input order total screen here-->
            </div>

            <div class="row justify-content-center">
                <!-- buttons populated from Item DB -->
                {% for item in items %}

                    <button class="btn itemBtn btn-dark col-3 mx-4 my-4 "> {{ item }} - ${{ item.price }} </button>
        
                {% endfor %}
            </div>
        </div>
{% endblock %}