{% extends 'app/base.html' %}

{% block content %}
        <header class="page-header">
            <div class="container text-center">
                <div class="row">
                    <h1><a href="/">Welcome to the Rainbow Bakery!</a></h1>
                    <a href="{% url 'item_new' %}" class="top-menu">Add Item</a>
                </div>
            </div>
        </header>
        <div class="container">

            <div class="row justify-content-center">
                <!-- input order total screen here-->
            </div>

            <div class="row justify-content-center">
                <!-- buttons populated from Item DB -->
                {% for item in items %}

                    <button class="btn itemBtn btn-dark col-3 mx-4 my-4 "> {{ item }} - ${{ item.price }} </button>
        
                {% endfor %}
            </div>
        </div>
{% endblock %}